.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);

  > a {
    max-width: 720px;
    height: 6rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
  }
}
